# Prerequisites
*.d
*.dia

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# swift
*.swiftdeps
*.swiftconstvalues
*.tmp

/.vscode
/.env
/third_party
/build
/build*

.DS_Store
ios/SeatCanvasSample/Configuration/Developer.xcconfig

resources/SeatCanvasSample.bundle/customized/
.claude/settings.local.json
