resources/preview/layer_version/iphone_14_pro.mp4 filter=lfs diff=lfs merge=lfs -text
resources/preview/layer_version/ohos_mate_60.mp4 filter=lfs diff=lfs merge=lfs -text
resources/preview/layer_version/android_honor_v20.mp4 filter=lfs diff=lfs merge=lfs -text
